body {
    background-color: black;
}

h1 {
    color: brown;
}

.cc {
    color: blanchedalmond;
}

.pcc {
    color: rgb(241, 189, 126);
}

.ma {
    color: blueviolet;
}

.pma {
    color: rgb(139, 38, 170);
}

.l83 {
    color: crimson;
}

.pl83 {
    color: darkred;
}

h2 {
    color: gold;
}